<div class="container d-flex flex-column">

  <div class="d-flex weather-card flex-row justify-content-start">
    <div class="p-2">
      <app-city-selector />
    </div>
    <div class="p-2">
      <app-unit-selector (unitChanged)="onUnitChange($event)" />
    </div>
    <div class="mr-auto p-2">
      <app-sun-selector (sunChanged)="onSunChange($event)" />
    </div>
  </div>
</div>

<div class="col-12">
  <app-weather-info [unit]="selectedUnit" [suntime]="selectedSunTime"></app-weather-info>
</div>